.card-img-top {
    width: 100%;  /* Hace que todas las imágenes ocupen el ancho completo de la tarjeta */
    height: 200px; /* Ajusta la altura fija para todas las imágenes */
    object-fit: cover; /* Recorta y ajusta la imagen sin deformarla */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header-app{
    background-color: green;
}

.nav-item a{
    font-size: larger;
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
}

.nav-item a:hover{
 color: white;
}


.navbar-nav{
    gap: 1rem;
}

footer{
    background: rgb(1, 68, 1);
}
